* {
    box-sizing: border-box;
    margin: 0;
    padding: 60;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    text-decoration: none;
    color:black;
}