* {
    box-sizing: border-box;
    margin: 0;
    padding: 60;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    padding-top:25px;
    padding-bottom:25px;
    text-align: center;
    font-size: 50px;
    background-color: dimgrey;
    color: #ffff;
}

#Header {
    position: static;
    padding: 44px;
    margin: 10px 0;
    font-size: 50px;
}

#test {
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(1,1,1,0.7);
    text-decoration: none;
}
#test a {
    text-decoration: none;
    color: black;
}

#test{
    font-weight: bold !important;
    font-size: 30px;
    transition: all 200ms;
}
    
#test:hover {
    font-size:32px;
    font-size-adjust: 20px;
}