body{
    font-family: Arial, sans-serif;
    color:black;
    background-color: #e4e4e4;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
body p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body a{
    color:#ff7575;
    display: flex;
    justify-content: center;
    align-items: center;
}